<header id="zone-entete">
  <div class="contenu-entete">
      <div class="d-flex h-100">

      </div>


      <div class="d-flex align-items-center">

          <div id="zone-utilisateur" ngbDropdown class="pr-1">
              <a role="button" ngbDropdownToggle>

                <div class="media info-utilisateur">
                  <div>
                   <img [src]="imageUtilisateur" onError="this.src='./assets/images/utilisateur.png'"/>
                  </div>
                  <div class="media-body text-truncate">
                      <h6 class="mt-2 titre text-truncate">{{nomUtilisateur}}</h6>
                      <p class="sous-titre text-truncate">{{roleUtilisateur}}</p>
                  </div>
              </div>

              </a>

              <div class="dropdown-menu dropdown-menu-right"ngbDropdownMenu>


                  <div class="dropdown-divider"></div>

                  <a (click)="deconnexion()"  class="dropdown-item"  translate>
                    <i class="fa fa-sign-out mr-1 icone-deconnexion"></i>
                    commun.DECONNEXION
                  </a>
              </div>
          </div>
      </div>

  </div>

</header>
