
.font-times-new-roman {
  font-family: "Times New Roman", serif;
}

.font-arial {
  font-family: Arial, sans-serif;
}

.font-helvetica {
  font-family: Helvetica, sans-serif;
}

.font-lucida-console {
  font-family: "Lucida Console", monospace;
}

.font-courier {
  font-family: Courier, monospace;
}

.font-roboto {
  font-family: "Roboto";
}

.font-segoe-ui {
  font-family: "Segoe UI";
}


.font-noto-sans {
  font-family: "Noto Sans";
}


